<div class="card">
  <div>
    <h2  class="card-header">Login</h2>

    <form class="login-form form">
      <div class="form-group">
        <label for="email-login">Email</label>
        <br>
        <input class="form-account" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <br>
        <input class="form-account" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn" type="submit">Login</button>
      </div>
    </form>
  </div>
  <a href="/signup">Sign Up Here</a>
</div>

<script src="./js/login.js"></script>