
<div class="">
  <div class="">
    <h2>{{title}}</h2>
   
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="">
    <p>
      {{content}}
    </p>
  </div>
</div>

