<div>
    <h2>Signup</h2>

    <form class="signup-form">
        <div class="form-group">
            <label for="name-signup">name:</label>
            <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
            <label for="email-signup">email:</label>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <button class="" type="submit">Sign Up</button>
        </div>
    </form>
    <a href="/login">Log in Here</a>
</div>

<script src="./js/signup.js"></script>