<div class="card">
    <h2 class="card-header">Signup</h2>

    <form class="signup-form form">
        <div class="form-group">
            <label for="name-signup">Username</label>
            <br>
            <input class="form-input text-box" type="text" id="name-signup" />
        </div>
        <div class="form-group">
            <label for="email-signup">Email</label>
            <br>
            <input class="form-input text-box" type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup">Password</label>
            <br>
            <input class="form-input text-box" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <button class="btn" type="submit">Sign Up</button>
        </div>
    </form>
    <a href="/login">Log in Here</a>
</div>

<script src="./js/signup.js"></script>